
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body, #root {
  width: 100%;
  min-height: 100vh;
  
  overflow-x: hidden; 
}

body {
  font-family: 'Inter', sans-serif; 
  -webkit-font-smoothing: antialiased;
}

.container-do-desafio {
  display: flex;
  flex-direction: row; 
  width: 100%;
  gap: 20px;
  padding: 20px;
  flex-wrap: nowrap; 
}


@media (max-width: 768px) {
  .container-do-desafio {
    flex-direction: column; /* Um embaixo do outro no Celular */
    flex-wrap: wrap; 
  }
}